<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trace enabled="false" traceMode="SortByCategory"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages enableEventValidation="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name="adAuthCookie" timeout="60" path="/"/>
    </authentication>
    <authorization>
      <allow roles="user, admin"/>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="WFM_AD_Server" value="LDAP://WFM.PVT"/>
    <add key="WFM_AD_Domain" value="WFM.PVT"/>
    <add key="UserADGroup" value="MW Succession Planning Access"/>
    <add key="AdminADGroup" value="MW Succession Planning Admin"/>
    <add key="LoginTimeout" value="30"/>
    <add key ="FolderPath" value ="uploads/"/>
    <add key ="ImportColumns" value ="Employee ID,First Name,Last Name,Hire Date,Locations,Job Title,Job Code,Sub Team code"/>
    <add key ="FromColumns" value ="Employee ID,Name,Hire Date,Locations,Job Title,Job Code,Sub Team code,InsertedBy"/>
    <add key="ToColumns" value="TMID,Name,LastHireDate,Location,JobTitle,JobCode,TeamCode,InsertedBy"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SuPlan" connectionString="Data Source=cewp7573;Initial Catalog=SuPlan; User ID = suplanuser; Password = suplan1" providerName="System.Data.SqlClient"/>-->
    <add name="SuPlan" connectionString="Data Source=mw-sandbox;Initial Catalog=SuPlan; User ID = suplanuser; Password = suplan1" providerName="System.Data.SqlClient"/>
    <add name ="Excel03ConnString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name ="Excel07ConnString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>